

<%= render 'form' %>
<ul>
<li>
<%= link_to 'Add More Product', products_path %>
</li>
<li>
<%= link_to 'Empty Your Cart', cart_clear_path %>
</li>
<li>
<%= link_to 'Back', cart_path, class:"btn btn-link"  %>
</li>
</ul>
