<div class="center">
<h1><b>About The Craft House</b></h1>
</div>
<br>
<p>Welcome to our page and thank you for taking your time to know a little about us and the services we provide. Boontoon.com is an online Indian Handicrafts platform that gives you the opportunity of exploring various Indian Handicrafts.</p>

<p>Our primary aim of establishment is to create an online marketplace where we can showcase our various Indian Handicrafts to buyers around the world. Established in 2013, with its head office located in Jaipur (Rajasthan), Boontoon.com brings to your viewing a whole of lot quality Indian handicrafts that would be suitable for your any home decor and gifting needs.</p>

<p>In our bid to ensure that the quality of service delivery is on the high side, we ensure that we put only the best of creativity in the production of our Handicrafts. Our handicrafts are always produced by us and so you can be rest assured that the quality of each Indian Handicraft you will find in our store will be awesome.</p>

<p>By browsing through our online store, you will find that we have a whole lot of Indian Handicraft Items that can be used as Home decor, Return gifts, corporate gifts etc.</p>

<p>Apart from possessing the necessary expertise needed to produce the finest Indian Handicrafts, we also have skilled handicraft designer professionals who have vast experience.
Shopping in our online marketplace is very easy as we have ensured that each Handicraft is categorized as marble handicrafts, German silver handicrafts, Gemstone handicrafts etc. so that they can be visible to buyers all over the world.</p>

<p>It does not matter where you are located; you can get the Handicraft items of your choice over to you. Ever since we started operation, we have been successful in serving bulk quantity handicraft orders to various countries of the world.</p>

<p>Feel free to take a look at our online store www.boontoon.com and let us know what you want. If you have any questions, you can send us an e-mail or place a call through to us. We assure you that a professional customer service representative will be on hand to provide answers to any questions you may be having.
space</p>












