<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to The Craft House, Help: </h1>
    <p>
     Name: <%= @name %>
    </p>
    <p>
     Email: <%= @email %>
    </p>
    <p>
     Phone: <%= @phone %>
    </p>
    <p>
    question: <br>
      <%= @question %>
    </p>

  </body>
</html>
