<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the craft house, help</h1>
    <p>
     name: <%= @name %>
    </p>
    <p>
     email: <%= @email %>
    </p>
    <p>
     phone: <%= @phone %>
    </p>
    <p>
    question: <br>
      <%= @question %>
    </p>

  </body>
</html>
